.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
}

.header {
  font-family: arial;
  text-align: center;
}

.reset {
  padding: 8px;
  margin: 10px;
}

.space {
  border: 1px solid blue;
  border-radius: 5px;
  position: relative;
  text-align: center;
}

.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}

.three {
  grid-column: 3;
  grid-row: 1;
}

.four {
  grid-column: 1;
  grid-row: 2;
}

.five {
  grid-column: 2;
  grid-row: 2;
}

.six {
  grid-column: 3;
  grid-row: 2;
}

.seven {
  grid-column: 1;
  grid-row: 3;
}

.eight {
  grid-column: 2;
  grid-row: 3;
}

.nine {
  grid-column: 3;
  grid-row: 3;
}